[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.0.4"
install = "*"
django-cors-headers = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pipenv = "*"
tools = "*"
pip-tools = "*"
psycopg2-binary = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
